@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

@import url('https://api.fontshare.com/v2/css?f[]=kola@400&display=swap" rel="stylesheet');
@import url('https://api.fontshare.com/v2/css?f[]=alpino@1&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=chillax@1&display=swap');



/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #6b21a8;
}
